#container {

  /* display title in the top-bar on desktop */
  #title, #top-bar-title { display: none; }
  &.mobile { #title { display: block; } }
  &:not(.mobile) { #top-bar-title { display: block; } }

  #title {
    margin-top: var(--spacing);
  }

  .notifications {
    margin-top: var(--large-spacing);
  }

  .n-unread {
    margin-left: var(--gutter);
  }

  #no-new {
    margin-top: var(--large-spacing);
    margin-left: var(--gutter);
    opacity: 0.5;
  }

  #load-older {
    margin-top: var(--large-spacing);
    margin-left: var(--gutter);
  }

}
