@if(volunteers && volunteers.length || isLoggedInUser) {
<div id="requests" class="flex gap justify-start" *transloco="let t">

  @if(volunteers && volunteers.length) {
  <div id="volunteers" class="flex justify-start small-gap pointer" [routerLink]="['/', 'ideas', 'volunteers', getIdeaId()]">
    <span
      id="volunteers-meter"
      [class.ok]="chooseOkVolunteers()"
      [style.transform]="'translateX(' + chooseVolunteerMeterPercent() + '%)'"
    ></span>
    <mat-icon id="volunteers-icon">emoji_people</mat-icon>
    <span id="volunteers-label">{{ countAttributedVolunteers() }} / {{ volunteers.length }}</span>
  </div>
  } <!-- @if volunteers && volunteers.length -->

  @if (isLoggedInUser) {
  <div
      id="add-request"
      class="flex small-gap justify-start pointer"
      [class.collapsed]="volunteers && volunteers.length"
      matRipple
      [mat-menu-trigger-for]="menu"
      >
      <mat-icon>add</mat-icon>
      <span>{{ t('misc.request-support') }}</span>
  </div>
  <mat-menu #menu="matMenu">
    @if(! (volunteers && volunteers.length)) {
    <button mat-menu-item (click)="openVolunteerPopup()">{{ t('misc.volunteer') }}</button>
    }
    <button mat-menu-item (click)="openFinancingPopup()">{{ t('misc.financing') }}</button>
  </mat-menu>
  } <!-- @if isLoggedInUser -->

</div>
}
