#tabs {
  position: fixed;
  overflow: scroll;
  max-width: 1200px;
  min-width: 350px;

  &:not(.mobile) {
    --left-padding: calc(var(--nav-bar-width) + 2 * var(--spacing));
    left: var(--left-padding);
    top: 10px;
    width: calc(100vw - var(--left-padding) - 10px);
    height: calc(100vh - 20px);
    border-radius: var(--spacing);
  }

  &.mobile {
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
  }

}
