#container {
  display: inline-flex;
  background-color: var(--lighter-background-color);
  border-radius: 99px;
  position: absolute;
  top: -5px;
  right: -5px;

  mat-icon { transform: scale(0.66); }
}
