#container {
    --header-height: 48px;
    position: relative;
    padding-bottom: calc(var(--spacing) + var(--large-spacing) + 56px);  // fab space

    #sticky-parent {
      z-index: 2;
      position: sticky;
      height: 0;
      overflow: visible;
      transition: var(--duration);

      #sort-by {
          position: absolute;
          right: var(--gutter);
          height: var(--header-height);

          #extra-icon {
            position: absolute;
            top: 5px;
            left: -22px;
            transform: scale(0.5);
          }
      }
    }

    #first-section-header-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: var(--header-height);
    }

    .section {

        .section-header {
            position: sticky;
            height: var(--header-height);
            z-index: 1;
            backdrop-filter: blur(5px);
            transition: var(--duration);

            &.out-of-sight {
              transform: translateY(calc(-100% - var(--top-bar-height)));
            }

            &.invisible {
                opacity: 0;
                pointer-events: none;
            }
        }

        .section-content {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
            gap: var(--spacing);

            &.mobile {
                grid-template-columns: 1fr;
            }
        }
    }

}
