#cover {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    background-color: var(--grey);

    #goals {
        position: absolute;
        bottom: 10px;
        left: calc(32px + 2 * var(--gutter));
        gap: 10px;

        app-goal-chip:nth-of-type(3) { z-index: 6; }
        app-goal-chip:nth-of-type(4) { z-index: 5; position: absolute; left: calc(2 * (34px + 10px) + calc(1 * 20px)); }
        app-goal-chip:nth-of-type(5) { z-index: 4; position: absolute; left: calc(2 * (34px + 10px) + calc(2 * 20px)); }
        app-goal-chip:nth-of-type(6) { z-index: 3; position: absolute; left: calc(2 * (34px + 10px) + calc(3 * 20px)); }
        app-goal-chip:nth-of-type(7) { z-index: 2; position: absolute; left: calc(2 * (34px + 10px) + calc(4 * 20px)); }
        app-goal-chip:nth-of-type(8) { z-index: 1; position: absolute; left: calc(2 * (34px + 10px) + calc(5 * 20px)); }
    }

    app-like-counter {
        position: absolute;
        bottom: 10px;
        right: var(--gutter);
    }
}

#bottom {
    width: 100%;
    gap: 10px;
    padding-top: 16px;
    padding-bottom: 20px;

    #title {
        margin-left: calc(32px + var(--gutter));
    }

    #author {
        position: relative;
        margin-left: calc(32px + var(--gutter));

        p {
            opacity: 0.5;
        }

        app-profile-picture {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(calc(-100% - 10px), -7px);
        }
    }
}
