mat-expansion-panel {
  border-radius: var(--spacing) !important;
  box-shadow: none !important;

  .mat-expansion-panel-content {
    font-size: var(--content-font-size);
  }
}


.ql-editor {
  font-family: var(--font-family);
  font-size: var(--content-font-size);
  padding-left: 0;

  &.ql-blank::before {
    color: gray;
    font-style: normal;
    left: 0;
  }
}

.quill-view-like {
  font-size: var(--content-font-size);
  h2 { font-size: x-large !important; }
  blockquote {
    margin-left: 0px;
    border-left: 4px solid #ccc;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 16px;
  }
}
