<div id="container" [ngClass]="{
  'mobile': screen.isMobile$|async,
  'preview-open': imgPreview !== undefined,
  }">
  <app-top-bar left-item="back" [reverse-scroll]="true">
    @if (findOtherUser(); as otherUser) {
    <app-profile-picture class="pointer" [user]="otherUser"
      [routerLink]="['/', 'ideas', 'user', otherUser.id]"></app-profile-picture>
    <h2 id="title" class="no-margin-bottom pointer" [routerLink]="['/', 'ideas', 'user', otherUser.id]">{{
      otherUser.name }}</h2>
    }
    <div class="spacer"></div>
    <app-profile-picture class="pointer" [user]="userData.user$|async"
      (click)="userData.goToProfileOrAuth()"></app-profile-picture>
  </app-top-bar>

  @if (userData.user$|async; as loggedInUser) {
  <div
    id="messages"
    class="flex justify-start small-gap"
  >
    @for (m of messages; track m.id; let i = $index) {
    <app-message
      [class.with-spacer]="shouldHaveSpacer(i)"
      [message]="m"
      (delete)="delete(m.id)"
      (react)="react($event, m.id)"
    ></app-message>
    }
  </div>
  }

  <div
    id="bottom"
    class="flex column gutter frosted"
    appAboveKeyboard
  >
    @if(imgPreview) {
    <div id="preview-container" class="flex justify-start">
      <div id="preview" class="bg cover" [style.backgroundImage]="'url('+imgPreview+')'">
        <app-delete-pill (click)="clearImg()"></app-delete-pill>
      </div>
    </div>
    }
    <div id="input" class="flex align-end">
      <app-profile-picture [user]="userData.user$|async"></app-profile-picture>
      <textarea
        appAutoGrow
        placeholder="Your message"
        [(ngModel)]="content"
        (keydown.enter)="formIsValid() && send()"
      ></textarea>
      <app-file-picker (file-change)="onImgChange($event)">
        <button mat-icon-button><mat-icon>add_photo_alternate</mat-icon></button>
      </app-file-picker>
      <app-chip label="Message" color="var(--blue)" icon="send" (click)="send()"
        [class.disabled]="!this.formIsValid()" [no-label]="(screen.isMobile$|async) ? true : false"></app-chip>
    </div>
  </div>


</div>
