#container {
    position: relative;
    --preview-height: 100px;

    &.preview-open.mobile #messages {
      padding-bottom: calc(var(--spacing) + var(--preview-height));
    }

    &.mobile {
      #bottom {
          position: fixed;
          bottom: 0;
      }
    }

    app-top-bar {

        #title {
            padding-left: var(--spacing);
        }
    }

    #messages {
        flex-direction: column-reverse;
        padding-top: var(--large-spacing);
        min-height: 100vh;

        app-message {
            width: 100%;

            &.with-spacer {
                margin-bottom: var(--spacing);
            }
        }
    }

    #bottom {
        position: sticky;
        left: 0;
        bottom: 0;
        padding-top: var(--spacing);
        padding-bottom: var(--spacing);
        width: 100%;

        #preview-container {
          height: var(--preview-height);
          width: 100%;

          #preview {
            position: relative;
            height: 100%;
            aspect-ratio: 1/1;
            background-color: var(--transparent-foreground-color);
          }
        }

        #input {
          width: 100%;

          textarea {
              margin-left: var(--gutter);
              margin-right: var(--gutter);
              flex: 1;
              margin-bottom: 6px;
          }

          app-file-picker {
            color: var(--transparent-foreground-color);
            transform: translateY(5px);
          }
        }

    }


}
