<div id="container" class="swipe-up" *transloco="let t">

  <app-top-bar left-item="close">
    <h2 class="no-margin-bottom">{{ t('misc.new-discussion') }}</h2>
    <div class="spacer"></div>
    <app-profile-picture class="pointer" [user]="userData.user$|async"
      (click)="userData.goToProfile()"></app-profile-picture>
  </app-top-bar>

  <div
    id="content"
    [class.mobile]="screen.isMobile$|async"
  >
    <div id="to" class="gutter">
      @if (selectedUser; as u) {
      <app-chip id="selected" [label]="u.name" icon="close" color="var(--foreground-color)"
        foreground-color="var(--background-color)" (click)="clearUser()"></app-chip>
      } @else {
      <input
        type="text"
        [placeholder]="t('placeholder.to') + ':'"
        [(ngModel)]="searchString"
        (keyup)="onInputKeyup($event)"
      />
      }
      <ng-template #noSelect>
      </ng-template>
    </div>


    <div id="search-results">
      @for (u of searchResults; track u.id) {
      <div class="result flex column align-start small-gap" mat-ripple (click)="selectUser(u)">
        <app-profile-picture class="picture" [user]="u"></app-profile-picture>
        <p class="name no-margin-bottom">{{ u.name }}</p>
        <p class="id no-margin-bottom">{{ u.id }}</p>
      </div>
      }
    </div>

  </div>

  <div
    id="input"
    class="flex gutter frosted align-end"
    [ngClass]="{'mobile': screen.isMobile$|async}"
    appAboveKeyboard
    (open)="smallButton = true"
    (close)="smallButton = false"
  >
    <app-profile-picture [user]="userData.user$|async"></app-profile-picture>
    <textarea
      appAutoGrow
      [placeholder]="t('placeholder.your-message')"
      [(ngModel)]="content"
      (focus)="onInputFocus()"
      (blur)="onInputBlur()"
    ></textarea>
    <app-chip label="Message" color="var(--blue)" icon="send" (click)="submit()"
      [class.disabled]="!this.formIsValid()" [no-label]="smallButton"></app-chip>
  </div>

</div>
