#container {
  --input-height: 67px;

  &.mobile {
    #content {
      min-height: calc(100vh - var(--top-bar-height));
    }

    #input { position: fixed; }
  }

  &:not(.mobile) {
    #content {
      min-height: calc(100vh - var(--top-bar-height) - var(--input-height) - 20px);
      padding-bottom: 0;
    }

    #input { position: sticky; }
  }

  #content {
    padding-bottom: var(--input-height);
    min-height: 100vh;

    #to {
      padding-top: var(--spacing);
      padding-bottom: var(--spacing);

      #selected {
        margin-left: 4px;
      }

      input {
        width: 100%;
        padding-left: calc(4px + 10px + 24px + 5px);
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }

    #search-results {

      .result {
        position: relative;
        padding-left: calc(2 * var(--gutter) + 32px);
        padding-top: calc(var(--spacing) / 2);
        padding-bottom: calc(var(--spacing) / 2);

        .picture {
          position: absolute;
          top: 3px;
          left: var(--gutter);
        }

        .id {
          opacity: 0.5;
        }
      }
    }
  }

  #input {
    left: 0;
    bottom: 0;
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
    width: 100%;

    textarea {
      margin-left: var(--gutter);
      margin-right: var(--gutter);
      flex: 1;
      margin-bottom: 6px;
    }
  }
}
