<ng-container *transloco="let t">

<app-top-bar left-item="close">
  <h2 class="no-margin-bottom">{{ t('misc.volunteer') }}s</h2>
</app-top-bar>

<div id="content">

  @if(openPositions.length) {

  <div id="open-positions" class="flex column gap">

    @for(v of openPositions; track v.id) {

    <div class="open-position" [cdkContextMenuTriggerFor]="openPositionsMenu">
      <div class="flex gap align-start gutter">
        <img src="assets/empty-profile-picture.png" class="empty-pp">
        <div class="right-part">
          <p class="desc">{{ v.description }}</p>
          @if(! isAdmin) {
          @if (didApply(v)) {
          <app-chip [label]="t('misc.applied')" [border]="true" icon="check" (click)="onCancel(v)"></app-chip>
          } @else {
          <app-chip [label]="t('misc.apply')" icon="add" color="var(--green)" (click)="onApply(v)"></app-chip>
          }
          }
        </div>
      </div>

      @if(isAdmin) {
      @if (v.candidates && v.candidates.length) {
      <div class="candidates gutter flex column gap">

        @if (isExpanded(v)) {
        @for (c of v.candidates; track c.id) {

        <div class="candidate flex gap">
          <app-profile-picture [user]="c" [routerLink]="['/', 'ideas', 'user', c.id]"></app-profile-picture>
          <span class="pointer" [routerLink]="['/', 'ideas', 'user', c.id]">{{ c.name }}</span>
          <div class="spacer"></div>
          <app-chip icon="check" color="var(--green)" [no-label]="true" (click)="onAccept(v, c)"></app-chip>
          <app-chip icon="close" color="var(--red)" [no-label]="true" (click)="onRefuse(v, c)"></app-chip>
        </div>

        }
        } @else {

        <div class="candidate flex gap">
          <app-profile-picture [user]="v.candidates[0]" [routerLink]="['/', 'ideas', 'user', v.candidates[0].id]"></app-profile-picture>
          <span class="pointer" [routerLink]="['/', 'ideas', 'user', v.candidates[0].id]">{{ v.candidates[0].name }}</span>
          <div class="spacer"></div>
          <app-chip icon="check" color="var(--green)" [no-label]="true" (click)="onAccept(v, v.candidates[0])"></app-chip>
          <app-chip icon="close" color="var(--red)" [no-label]="true" (click)="onRefuse(v, v.candidates[0])"></app-chip>
        </div>

        @if(v.candidates.length > 1) {
        <app-chip
            id="more-candidates"
            icon="keyboard_arrow_down"
            [label]="i18n.get('misc.see-other-candidates', {n: (v.candidates.length - 1)})"
            color="var(--foreground-color)"
            foreground-color="var(--background-color)"
            (click)="onExpand(v)"
            ></app-chip>
        }
        } <!-- else (isExpanded) -->

      </div>
      }  <!-- if candidates -->
      }  <!-- isAdmin -->

      <ng-template #openPositionsMenu>
        <div cdkMenu>
          @if(isAdmin) {
          <button mat-flat-button cdkMenuItem (click)="onDelete(v)">{{ t('misc.delete') }}</button>
          }
        </div>
      </ng-template>
    </div>
    }  <!-- for openPositions -->

  </div>

  }  <!-- if openPositions -->

  @if(filledPositions.length) {
  <div id="sep" class="flex justify-start gutter">
    <span>Filled</span>
  </div>

  <div id="filled-positions" class="flex column gap gutter">

    @for(v of filledPositions; track v.id) {

    <div class="filled flex gap align-start" [cdkContextMenuTriggerFor]="filledPositionsMenu">
      <app-profile-picture [user]="v.user" [routerLink]="['/', 'ideas', 'user', v.user!.id]"></app-profile-picture>
      <div class="right-part">
        <p class="name" [routerLink]="['/', 'ideas', 'user', v.user!.id]">{{ v.user!.name }}</p>
        <p>{{ v.description }}</p>
        <ng-template #filledPositionsMenu>
          <div cdkMenu class="flex column">
            @if(isAdmin) {
            <button mat-flat-button cdkMenuItem (click)="onRemove(v)">{{ t('misc.remove') }}</button>
            <button mat-flat-button cdkMenuItem (click)="onDelete(v)">{{ t('misc.delete') }}</button>
            }
          </div>
        </ng-template>
      </div>
    </div>

    }

  </div>
  }

</div>

</ng-container>
