<div id="container" class="view" *transloco="let t" [class.mobile]="screen.isMobile$|async" [class.wide] = "screen.isWide$|async">

  <app-top-bar left-item="back">
    <div class="spacer"></div>
    @if (idea?.author?.isUser) {
    <button mat-icon-button [mat-menu-trigger-for]="menu"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onEditClick()">{{ t('misc.edit') }}</button>
      <button mat-menu-item (click)="onDeleteClick()">{{ t('misc.delete') }}</button>
    </mat-menu>
    } @else {
    <app-profile-picture class="pointer" [user]="userData.user$|async"
      (click)="userData.goToProfileOrAuth()"></app-profile-picture>
    }
  </app-top-bar>

  <div id="top-part" class="flex column large-gap">

    <div id="cover">
      <div id="cover-background" class="bg cover pointer" [style.backgroundImage]="chooseCover()" [appOpenImage]="idea?.cover"></div>

      <div id="goals" class="flex">
        @for (g of idea?.goals; track g.id) {
        <app-goal-chip
            [no-label]="true"
            [goal]="g"
            [routerLink]="['/', 'ideas', 'goal', g.id]"
            ></app-goal-chip>
        }
      </div>
      <app-like-counter [idea]="idea" (click)="toggleCheer()"></app-like-counter>
    </div>

    <div id="header" class="flex column align-start">

      <h1 id="title" class="no-margin-bottom">{{ idea?.title }}</h1>

      <div id="author">
        <app-profile-picture [user]="idea?.author" class="pointer"
          [routerLink]="['/', 'ideas', 'user', idea?.author?.id]"></app-profile-picture>
        <p class="no-margin-bottom">
          <span id="author-name" class="pointer" [routerLink]="['/', 'ideas', 'user', idea?.author?.id]">
            {{ idea?.author?.name }}
          </span>
          <span id="date"> - {{ time.makeAgo(idea?.date) }}</span>
        </p>
      </div>

      @if(idea?.externalLinks && idea?.externalLinks?.length || idea?.author?.isUser) {
      <app-external-links
        [is-logged-in-user]="idea?.author?.isUser"
        [external-links]="idea?.externalLinks"
        (add)="addExternalLink($event)"
        (delete)="deleteExternalLink($event)"
      ></app-external-links>
      }

      @if(volunteers && volunteers.length || idea?.author?.isUser) {
      <app-support-requests
        [is-logged-in-user]="idea?.author?.isUser"
        [volunteers]="volunteers"
        (add-volunteer)="addVolunteer($event)"
        (add-financing)="addFinancing($event)"
      ></app-support-requests>
      }

    </div> <!-- /header -->

  </div> <!-- /top-part -->

  <div id="page-content" class="flex column large-gap align-start">

    @if(idea?.summary) {
    <mat-accordion id="summary">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><mat-icon id="glitter">auto_awesome</mat-icon>Summary</mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{ idea?.summary }}</p>
      </mat-expansion-panel>
    </mat-accordion>
    }

    <div id="content-container">
      <div [cdkContextMenuTriggerFor]="context_menu" #menuTrigger="cdkContextMenuTriggerFor"></div>
      <ng-template #context_menu>
        <div cdkMenu>
          <button mat-flat-button cdkMenuItem (click)="addLocalizedComment()">{{ t('misc.comment') }}</button>
        </div>
      </ng-template>

      <div id="content" [innerHTML]="idea?.content" #content></div>

      @for(lcGroup of lcGroups; track lcGroup.y) {
        <div class="lc-group flex column pointer"
            [style.top]="lcGroup.y + 'px'"
            (click)="activeLCGroup = lcGroup">
          <app-profile-picture class="pointer"
            [user]="lcGroup.localizedComments[0].comment.author"
          ></app-profile-picture>
          @if (lcGroup.localizedComments.length > 1) {
            <app-profile-picture class="pointer"
              [user]="lcGroup.localizedComments[1].comment.author"
            ></app-profile-picture>
          }
          @if (lcGroup.localizedComments.length > 2) {
            <p class="bubble-label no-margin-bottom">+ {{ lcGroup.localizedComments.length - 2 }}</p>
          }
          @else {
            <p class="not-bubble-label no-margin-bottom">...</p>  <!-- to increase clickable area -->
          }
        </div>
      }

      @if (activeLCGroup; as lcGroup) {
        <div id="active-localized-comment" [style.top]="lcGroup.y + 'px'" #activeBubble>
          @for(lc of lcGroup.localizedComments; track lc.comment.id) {
            <app-comment [comment]="lc.comment" (upvote)="upvoteComment(lc.comment.id)"
              (downvote)="downvoteComment(lc.comment.id)" (delete-vote)="deleteCommentVote(lc.comment.id)"
              (delete-comment)="deleteComment(lc.comment.id)"></app-comment>
          }
        </div>
      }
    </div>

    <app-comment-section [comments]="comments" (sort-by-change)="onSortByChange($event)"
      (post-comment)="onPostCommentClick($event)" (upvote)="upvoteComment($event)" (downvote)="downvoteComment($event)"
      (delete-vote)="deleteCommentVote($event)" (delete-comment)="deleteComment($event)"></app-comment-section>

  </div>

</div>
