<div id="container" class="swipe-up">

  <app-top-bar left-item="close" [background-color]="makeBackgroundColor()" [opaque]="true">
    <div class="flex gap">
      <mat-icon>{{ goal?.icon }}</mat-icon>
      <h2 class="no-margin-bottom">{{ goal ? i18n.getLocalizedAttr(goal, 'name') : undefined }}</h2>
    </div>
  </app-top-bar>

  <div id="content">

    <p class="gutter no-margin-bottom" id="summary">Ea quidem voluptatum qui quasi repellendus et nostrum doloremque. Suscipit officiis veritatis non
    veritatis quod sunt quia minus molestiae. Dolores non voluptatem...</p>
    <h1 class="gutter">Targets</h1>
    <p class="gutter no-margin-bottom">Facilis quasi dolor labore enim. Autem voluptatum dolor maxime. Et commodi voluptatem minima dolor enim dolor harum harum. Vel hic quas. Vel quis recusandae earum nihil. Nisi et ea soluta ipsam ut voluptates quod laudantium. Excepturi ad eligendi excepturi unde corrupti repellat doloribus est eaque. In vel sunt est placeat dolores tempora iusto quidem. Assumenda enim nihil blanditiis consequuntur assumenda velit. Ea qui explicabo nihil sequi sit sint. Provident accusantium fugiat laboriosam repellat illo reprehenderit illum. Eaque qui voluptas corrupti doloremque voluptate. Asperiores excepturi necessitatibus laudantium temporibus fuga quis quia. Quasi ut et et dolore accusamus incidunt vel quo aliquam.</p>

  </div>

</div>
